*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.App {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* max 400px small phone screen*/
@media (max-width: 25em) {
    html {
        font-size: 8px;
    }
}

/* 401px to 600px  phone screen*/
@media (min-width: 25.063em) and (max-width: 37.5em) {
    html {
        font-size: 9px;
    }
}

/* 601px to 900px tab screen*/
@media (min-width: 37.563em) and (max-width: 56.25em) {
    html {
        font-size: 11px;
    }
}

/* 901px to 1200px land screen*/
@media (min-width: 56.313em) and (max-width: 75em) {
    html {
        font-size: 13px;
    }
}

/* 1201px to 1800p desktop sreen Default font-size*/
/* @media (min-width: 75.063em) and (max-width: 112.5em) {
    html {
        font-size: 16px;
    }
} */

/* min 1801px large screen*/
@media (min-width: 112.563em) {
    html {
        font-size: 17px;
    }
}
